

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  margin: 14rem 45rem;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: cyan;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 


  